/* Main Category Cards */

.h1-heading {
    padding: 2rem;
    text-align: center;
    font-size: 2.5rem;
}

.main-menu {
    display: grid;
    justify-content: space-around;
    gap: 1rem;
    grid-template-columns: 30rem 30rem;
    padding-top: 1rem;
}

.card-main {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    border: solid 1px;
    cursor: pointer;
    box-shadow: var(--shadow-color) 0px 5px 10px;
}

.card-main:hover {
    opacity: 0.6;
}

.card-main:nth-child(2n+1) {
    padding-right: 4.5rem;
}

.card-main:nth-child(2n) {
    padding-left: 4.5rem;
}


.img-card-main {
    width: 15rem;
    height: 13rem;
}

/* Individual Item Cards */
.card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 16rem);
    justify-content: space-around;
    gap: 1.5rem;
}

.card-item {
    border: solid 0.1px;
    width: 15rem;
    height: 24.5rem;
    position: relative;
    padding-bottom: 0.5rem;
    box-shadow: var(--shadow-color) 0px 3px 8px;
    border-radius: 1rem;
}

.img-item {
    width: 13rem;
    height: 13rem;
    margin: 1rem;
}

.badge-disc {
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
    padding: 5px;
    width: fit-content;
    position: absolute;
    bottom: 10.4rem;
    right: 9.25rem;
}

.card-info {
    padding: 0 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2px;

}

.ruppee-stroke {
    font-size: inherit;
    text-decoration: line-through;
    font-size: 12px;
}

.ruppee {
    font-size: 1.2rem;
}

.stroked-price {
    color: var(--offline-color);
    text-decoration: line-through;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.actual-price {
    color: var(--quaternary-color);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.card-desc {
    font-size: 1.2rem;
}

.card-item button {
    display: flex;
    margin: auto;
}

.add-cart-btn {
    position: absolute;
    bottom: 0.5rem;
    left: 4rem;
}

/* Cart Horizontal card */

.horizontal-card {
    display: flex;
    box-shadow: rgb(0 0 0 / 24%) 1px 1px 5px;
}

.img-card-horizontal{
    width: 12rem;
    height: 15rem;
}

.quantity-cart-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-quantity{
    width: 1.5rem;
    text-align: center;
}

.card-horizontal-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.card-horizontal-desc i{
    font-size: 1.2rem;
}

.card-horizontal-desc i:hover{
    transform: scale(1.2);
}

.horizontal-price {
    display: flex;
    gap: 10px;
}

.disc-percent{
    color: var(--tertiary-color);
}