.filter {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-top: 2rem;
    font-size: 2rem;
}

.rating-section,
.category-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.filter-title {
    font-size: 1.25rem;
    padding-bottom: 5px;
}

.filter-clear-btn {
    color: var(--primary-color);
    font-size: 1.1rem;
}

.filter-clear-btn:hover {
    text-decoration: underline;
}

.slidecontainer {
    padding-top: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.max-min-range{
    display: flex;
    justify-content: space-between;
}